main {
	min-height: calc(100vh - 115px);
}

a {
	text-decoration: none;
	color: inherit;
}

.not-found {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	text-align: center;
}

.not-found img {
	max-width: 25%;
}

.form-input,
label,
.invalid-feedback {
	color: #fe000c !important;
}
label.form-label {
	margin-top: 1rem;
}
.form-input {
	display: block;
	width: 100%;
	height: calc(2.25rem + 2px);
	margin-top: 0.1rem;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	box-sizing: border-box;
}
.form-input.is-invalid {
	border-color: #fe000c;
}
.invalid-feedback {
	font-size: 0.8rem;
}
.btn {
	border-radius: 0 !important;
	display: block;
	margin-top: 1rem !important;
	box-shadow: none !important;
}
.btn-primary {
	background: #fe000c !important;
	color: #fff !important;
}
