.nav-drowdown-link {
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.nav-drowdown-link:hover {
  background: #fe000c !important;
  color: #fff !important;
}
.nav-drowdown-link a {
  display: block;
  width: 100%;
}